@model List<GrPhotosCore.Domain.Exif>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .carousel-slider img {
        max-width: none;
        max-height: 800px;
    }
</style>
<div class="slider-wrapper">
    <div class="carousel-slider">
        <div class="carousel">
            
            @foreach (var product in Model) {
                <div class="carousel-cell">
                    <img src="~/images/bw/img_@(product.Id).jpg" alt=""/>
                    @*<p class="post-num">P: @(product.Id)</p>*@
                    <h3 class="entry-title"><a href="@Url.Action("PortfolioDetails","home", new{id=product.Id})">@product.Title</a></h3>
                    <p class="cat-links">@product.Location</p>
                </div>
            }

        </div>
    </div>
</div>
