@{
    ViewData["Title"] = "Home Page";
}

<style>
    .carousel-slider img {
        max-width: none;
        max-height: 800px;
    }
</style>
<div class="slider-wrapper">
    <div class="carousel-slider">
        <div class="carousel">
            <div class="carousel-cell">
                <img src="~/images/bw/img_01.jpg" alt="" />
                <p class="post-num">05</p>
                <h3 class="entry-title"><a href="single.html">Another Day at Work</a></h3>
                <p class="cat-links">Office</p>
            </div>
            <div class="carousel-cell">
                <img src="~/images/bw/img_02.jpg" alt="" />
                <p class="post-num">04</p>
                <h3 class="entry-title"><a href="single.html">Coco Basic Gif</a></h3>
                <p class="cat-links">Animation</p>
            </div>
            <div class="carousel-cell">
                <img src="~/images/bw/img_03.jpg" alt="" />
                <p class="post-num">03</p>
                <h3 class="entry-title"><a href="single.html">Branding at the Best</a></h3>
                <p class="cat-links">Inspiration</p>
            </div>
            <div class="carousel-cell">
                <img src="~/images/bw/img_04.jpg" alt="" />
                <p class="post-num">02</p>
                <h3 class="entry-title"><a href="single.html">Lets Do This</a></h3>
                <p class="cat-links">Free Art</p>
            </div>
            <div class="carousel-cell">
                <img src="~/images/bw/img_05.jpg" alt="" />
                <p class="post-num">01</p>
                <h3 class="entry-title"><a href="single.html">Homes Magazine</a></h3>
                <p class="cat-links">Interior</p>
            </div>
        </div>
    </div>
</div>
