@model List<GrPhotosCore.Domain.Exif>
@{
    ViewData["Title"] = "Portfolio";
}

<style>
    .galleries {
        color: black;
        font-weight: 800;
        text-transform: uppercase;
    }
</style>

@section Pagetitle {
    <div class="content-left">
        <div class="category-filter" style="right:140px;">
            <div class="galleries">Συλλογές</div>
        </div>

        <div class="category-filter-list button-group filters-button-group" style="display: block !important;">
            <div class="button no-isotop is-checked" data-filter="*">All</div>
            <div class="button no-isotop" data-filter=".interior">Interior</div>
            <div class="button no-isotop" data-filter=".abstract">Abstract</div>
            <div class="button no-isotop" data-filter=".industry">Industry</div>
        </div>
    </div>
   
}

<div class="portfolio-wrapper">
    <div class="category-filter">
        <div class="category-filter-icon"></div>
    </div>

    <div class="category-filter-list button-group filters-button-group">
        <div class="button is-checked" data-filter="*">All</div>
        <div class="button" data-filter=".interior">Interior</div>
        <div class="button" data-filter=".abstract">Abstract</div>
        <div class="button" data-filter=".industry">Industry</div>
    </div>

    <div class="grid" id="portfolio">
        <div class="grid-sizer"></div>
        
        @foreach (var product in Model) {
            <div class="grid-item element-item p_one_third interior">
                <a href="@Url.Action("PortfolioDetails","home",new{id=product.Id})">
                    <img src="~/images/bw/img_@(product.Id).jpg" alt="" />

                    <div class="portfolio-text-holder">
                        <p class="portfolio-text">@product.Location</p>
                        <p class="portfolio-cat">@product.Category</p>
                    </div>
                </a>
            </div>
        }

    </div>
</div>
<div class="clear"></div>

