
@{
    ViewData["Title"] = "Team";
}

<div class="content-right-holder">
    <div class="member-wrapper">
        <div class="one_half">
            <h3 class="about-name">
                Jason Williams
            </h3>
            <p class="about-position">CEO</p>
            <br>
            <p>Nulla tincidunt eu dolor sit amet semper. Mauris tincidunt, nisl non iaculis ornare, dolor lacus bibendum nisl, vitae facilisis magna purus sit amet odio. Donec sollicitudin iaculis leo, vel molestie enim pulvinar quis.</p>
            <br>
            <p class="text-right"><a href="#">twitter</a></p>
            <p class="text-right"><a href="#">instagram</a></p>
            <p class="text-right"><a href="#">behance</a></p>
        </div>

        <div class="one_half last">
            <img src="~/images/about02.jpg" alt="">
        </div>
        <div class="clear"></div>
    </div>
    <br>
    <br>
    <div class="one">
        <ul class="services-list">
            <li>
                <div class="services-wrapper">
                    <p class="service-title">brainstorming</p>
                    <p class="services-role bottom-20">idea.</p>
                    <p class="services-line"></p>
                </div>
                <div class="services-content">
                    Nulla tincidunt eu dolor sit amet semper. Mauris tincidunt, nisl non iaculis ornare, dolor lacus bibendum nisl, vitae facilisis magna purus sit amet odio. Donec sollicitudin iaculis leo.
                </div>
            </li>
            <li>
                <div class="services-wrapper">
                    <p class="service-title">design</p>
                    <p class="services-role bottom-20">create.</p>
                    <p class="services-line"></p>
                </div>
                <div class="services-content">
                    Mauris nec mollis lectus. Praesent posuere tellus viverra consectetur suscipit. Nulla in lacinia ligula, sit amet ullamcorper justo. Quisque risus magna, sagittis sed erat nec, imperdiet lacinia est.
                </div>
            </li>
        </ul>
    </div>
</div>

