@{
    ViewBag.Title = "Contact";
}
<div class="content-right-holder">
    <div class="header-page-content">
        <img src="~/Content/images/animation2.gif" alt="" />
    </div>
    <p>
        He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is former.
    </p>
    <br>
    <p>
        So yetty aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
    </p>
    <br>
    <br>
    <div class="contact-form">
        <p><input id="name" type="text" name="your-name" placeholder="Name"></p>
        <p><input id="contact-email" type="email" name="your-email" placeholder="Email"></p>
        <p><input id="subject" type="text" name="your-subject" placeholder="Subject"></p>
        <p><textarea id="message" name="your-message" placeholder="Message"></textarea></p>
        <p><input type="submit" value="Send"></p>                                
    </div>
</div>